// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    #jumbotron {
        -webkit-clip-path: polygon(100% 0%, 0% 0% , 0.00% 90.00%, 2.00% 89.73%, 4.00% 88.95%, 6.00% 87.66%, 8.00% 85.93%, 10.00% 83.82%, 12.00% 81.39%, 14.00% 78.73%, 16.00% 75.94%, 18.00% 73.12%, 20.00% 70.36%, 22.00% 67.77%, 24.00% 65.44%, 26.00% 63.44%, 28.00% 61.86%, 30.00% 60.73%, 32.00% 60.12%, 34.00% 60.03%, 36.00% 60.47%, 38.00% 61.43%, 40.00% 62.86%, 42.00% 64.73%, 44.00% 66.96%, 46.00% 69.48%, 48.00% 72.19%, 50.00% 75.00%, 52.00% 77.81%, 54.00% 80.52%, 56.00% 83.04%, 58.00% 85.27%, 60.00% 87.14%, 62.00% 88.57%, 64.00% 89.53%, 66.00% 89.97%, 68.00% 89.88%, 70.00% 89.27%, 72.00% 88.14%, 74.00% 86.56%, 76.00% 84.56%, 78.00% 82.23%, 80.00% 79.64%, 82.00% 76.88%, 84.00% 74.06%, 86.00% 71.27%, 88.00% 68.61%, 90.00% 66.18%, 92.00% 64.07%, 94.00% 62.34%, 96.00% 61.05%, 98.00% 60.27%, 100.00% 60.00%);
            clip-path: polygon(100% 0%, 0% 0% , 0.00% 90.00%, 2.00% 89.73%, 4.00% 88.95%, 6.00% 87.66%, 8.00% 85.93%, 10.00% 83.82%, 12.00% 81.39%, 14.00% 78.73%, 16.00% 75.94%, 18.00% 73.12%, 20.00% 70.36%, 22.00% 67.77%, 24.00% 65.44%, 26.00% 63.44%, 28.00% 61.86%, 30.00% 60.73%, 32.00% 60.12%, 34.00% 60.03%, 36.00% 60.47%, 38.00% 61.43%, 40.00% 62.86%, 42.00% 64.73%, 44.00% 66.96%, 46.00% 69.48%, 48.00% 72.19%, 50.00% 75.00%, 52.00% 77.81%, 54.00% 80.52%, 56.00% 83.04%, 58.00% 85.27%, 60.00% 87.14%, 62.00% 88.57%, 64.00% 89.53%, 66.00% 89.97%, 68.00% 89.88%, 70.00% 89.27%, 72.00% 88.14%, 74.00% 86.56%, 76.00% 84.56%, 78.00% 82.23%, 80.00% 79.64%, 82.00% 76.88%, 84.00% 74.06%, 86.00% 71.27%, 88.00% 68.61%, 90.00% 66.18%, 92.00% 64.07%, 94.00% 62.34%, 96.00% 61.05%, 98.00% 60.27%, 100.00% 60.00%);
    }

    #quien-soy {
        margin-top: -130px;
    }

    #mis-servicios {
        .servicio {
            h2 {
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .descanso-2 {
        h2 {
            span {
                font-size: 1.5rem;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #jumbotron {
        min-height: 54vh;
        
        .container,
        .row {
            min-height: inherit;
        }
    }

    #quien-soy {
        margin-top: -120px;
    }

    #mis-servicios {
        .servicio {
            h2 {
                span {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .descanso-2 {
        h2 {
            span {
                font-size: 1.8rem;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    h1 {
        line-height: 4rem;
    }

    #jumbotron {
        min-height: 94vh;
    }

    /*
    #que-hago {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    */

    #mis-servicios {
        .servicio {
            h2 {
                span {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .descanso-2 {
        position: relative;

        h2 {
            span {
                font-size: 2rem;
            }
        }

        #foto-gila {
            @include background('../images/foto-gila.png', center, contain);
            position: absolute;
            bottom: 0;
            right: 120px;
            width: 237px;
            height: 300px;
        }
    }

    .interna {
        #blog {
            .articulos-relacionados {
                .left {
                    h1 {
                        line-height: 3rem;
                    }
                }
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {

}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {

}
